<footer id="footer" class="text-center" >
    <div class="footer-text navbar-light bg-light border-top border-4">
        <div>
            <p class="mt-2" >Copyright © 2022. All Rights Reserved <br> Custom Designed by Your Web Designer</p>
        </div>
    </div>
</footer>