<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/statics/css/style.css">

    <title>Document</title>
  </head>
  <body class="background3" >
    
    <div class="container1">
        {{>navbar}}


        <section class="py-5 login-sec  ">
            <div class="py-3 container login ">
            <form action="/login" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input name="useremail" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required >
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="userpassword" type="password" class="form-control" id="exampleInputPassword1" required>
                </div>
                <div class="text-center {{error}} ">
                    <h5 style="color: red;" >* Invalid login details</5>
                </div>
                <div class="container text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
            <div class="border-top border-dark signupbtn my-3" >
                <form action="/signup" method="get" >
                    <div class="text-center">
                        <p>Click on signup button to create account</p>
                        <button type="submit" class="btn btn-primary" id="signupbtn">Sign Up</button>
                    </div>
                </form>
            </div>
            </div>
        </section>
        {{>footer}}
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="/statics/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>
